$basic-unit: 8px;
$basic-font-size: 16px;
$basic-border-radius: 4px; 
$basic-box-shadow-h-offset: 2px;
$basic-box-shadow-v-offset: 3px;
$basic-box-shadow-color: $base;
$basic-border-width: 1px;
$basic-border-width-thick: 2px;
$basic-disabled-opacity: 0.3;
$basic-transition-time: 300ms;
$space-range: (0,0.5,1.1.5,2,2.5,3,3.5,4,4.5,5,5.5,6,6.5,7,7.5,8,8.5,9,9.5,10,10.5,11,11.5,12);
$sides: (top, bottom, left, right, horizontal, vertical, all)